<div class="member-image">
  <img src="{{memberContent.member?.photoUrl || './assets/user.png'}}"
       alt="{{memberContent.member?.nickname}}"
       class="member-image-centered">
  <h2>{{memberContent.member?.nickname}}</h2>
  <h6 *ngIf="(presence.onlineUsers$ | async)?.includes(memberContent.member.username)">
    <em class="fa fa-user-circle text-success"></em> Użytkownik dostępny
  </h6>
  <h6 *ngIf="!(presence.onlineUsers$ | async)?.includes(memberContent.member.username)">
    <em class="fa fa-user-circle"></em> Użytkownik niedostępny
  </h6>
  <h6 *ngIf="!(presence.onlineUsers$ | async)?.includes(memberContent.member.username)">Ostatnio aktywny: {{memberContent.member.lastActive | timeago}}</h6>
</div>
