<div class="member-image">
  <img src="{{memberContent.member.photoUrl || './assets/user.png'}}"
       alt="{{memberContent.member.nickname}}"
       class="member-image-centered">
  <h2>{{memberContent.member.nickname}}</h2>
  <h6 *ngIf="(presence.onlineUsers$ | async)?.includes(memberContent.member.username)">
    <i class="fa fa-user-circle text-success"></i> Użytkownik dostępny
  </h6>
  <h6 *ngIf="!(presence.onlineUsers$ | async)?.includes(memberContent.member.username)">
    <i class="fa fa-user-circle"></i> Użytkownik niedostępny
  </h6>
<!--  <h6>Ostatnio aktywny: {{memberContent.member.lastActive | timeago}}</h6>-->
</div>
