<div class="full-article-container container-fluid">

  <div class="row justify-content-center">
    <img class="col-xl-6 img-fluid" src="{{news?.photoUrl}}" alt="news' picture">
  </div>

  <div class="row full-article-content-container justify-content-center">
    <h1 class="full-article-title col-xl-11">{{news?.title}}</h1>
    <p class="full-article-date col-xl-11">{{news?.publicationDate | date: 'mediumDate'}}</p>
    <p class="full-article-content col-xl-11">{{news?.content}}</p>
  </div>
<button mat-button
        *appHasRole='["Admin", "Redaktor"]'
        class="btn btn-warning"
        (click)="editArticle(news)">Edytuj artykuł</button>
</div>
