.full-article-container {
  height: 103%;
  background-color: black;
  margin-top: 1%;
  color: #dedede;
  padding: 1rem;
}

.full-article-content-container {
  background-color: #242427;
  margin: 1rem;
  border-radius: 0.5%;
}

.full-article-title {
  margin-top: 1rem;
  font-family: "Raleway";
  font-weight: 600;
  color: #dedede;
}

.full-article-date {
  font-size: 0.9rem;
}

.full-article-content {
  font-size: 1.2rem;
  line-height: 1.8;
}
