footer {
  position: fixed;
  display: flex;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.95);
  color: wheat;
  height: 30px;
  width: 100%;
}

footer p {
  padding-top: 10px;
}
