footer {
  position: fixed;
  display: flex;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: wheat;
  height: 35px;
  width: 100%;
}

footer p {
  padding-top: 10px;
}
