.news-short{
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 975px;
  height: 400px;
  margin-left: 10%;
}
.news-short-first{
  background-color: #292E37;
  width: 100%;
  height: 33.3%;
  border: 1px solid black;
}
.news-short-second{
  background-color: #292E37;
  width: 100%;
  height: 33.3%;
  border: 1px solid black;

}
.news-short-third{
  background-color: #292E37;
  width: 100%;
  height: 33.3%;
  border: 1px solid black;
}
