h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 0.85rem;
}

.news-short {
  background-color: black;
}
.news-short-content:hover {
  transition: 0.2s;
  background-color: #d52b58;
}

.news-short-content-clicked {
  background-color: #d52b58;
}

.news-short-content {
  display: flex;
  flex-direction: row;
  background-color: #292E37;
  border: 1px solid black;
  padding: 10px;
}

.news-thumbnail {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
