.short-news-title {
  font-family: "Raleway";
  font-size: 1.2rem;
  font-weight: 600;
  color: #eaeaea;
}

.short-news-content-text {
  font-size: 0.8rem;
  line-height: 1.5;
}

.short-news-date {
  font-size: 0.7rem;
}

.news-short {
  background-color: black;
  height: 31%;
}

.news-short-content:hover {
  transition: 0.2s;
  background-color: #414147;
}

.news-short-content {
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: #242427;
  border: 1px solid black;
  padding: 10px;
}

.news-short-content-clicked {
  background-color: #414147;
}

.news-thumbnail {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
