.news-list-container {
  background-color: rgba(0, 0, 0, 0.85);
  margin-top: 1%;
  color: #eaeaea;
  padding: 1rem;
}

.articles-heading {
  font-family: Lato;
  font-weight: 600;
}

.news-list-article-row {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.news-list-article {
  background-color: #242427;
  border-radius: 15px;
  padding: 1rem;
}

.news-list-article-content {
  padding: 1rem;
  line-height: 1.7;
}

.news-list-article-read-more-btn {
  background-color: #1a1b21;
  border-color: #2c2c31;
  color: white;
  width: 200px;
  height: 50px;
}

.news-list-article-read-more-btn:hover {
  background-color: #F29F05;
  color: black;
  font-weight: bold;
}

.news-list-article-read-more-btn:active {
  background-color: #F29F05;
  color: black;
}
