@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeicons/primeicons.css';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


body {
  background: url("assets/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
}

body {
  margin: 0;
  font-family: 'Spartan', Roboto, "Helvetica Neue", sans-serif;
}

.section-title {
  position: relative;
  font-size: 1.5rem;
  z-index: 1;
  overflow: hidden;
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
}

.section-title:before, .section-title:after {
  position: absolute;
  top: 45%;
  overflow: hidden;
  width: 50%;
  height: 5px;
  content: '\a0';
  background-color: #2D2D2D;
  border-radius: 5%;
}

.section-title:before {
  margin-left: 50%;
  text-align: right;
}

.section-title-accent {
  color: #C3073F;
}

@media only screen and (max-width: 650px) {
  .section-title:before, .section-title:after {
    display: none;
  }
}
