<div class="container reset-password-container">
  <h1 class="section-title"><span class="section-title-accent">ZRESETUJ</span> HASŁO&nbsp;</h1>

    <form [formGroup]="resetPasswordForm" class="reset-password-form" autocomplete="off" id="resetPasswordForm">
      <div class="col form-group">

        <h3>Wpisz nowe hasło:</h3>
        <h6>Twoje hasło powinno zawierać min. 8 znaków, duże i małe litery, cyfry i znaki specjalne</h6>
        <input matInput class="reset-password-input" type="password" placeholder="Hasło" formControlName="password" required>
        <p class="reset-password-error"
           *ngIf=" resetPasswordForm.get('password')?.hasError('required') && resetPasswordForm.get('password')?.touched">
          Wypełnij to pole
        </p>

        <p *ngIf="resetPasswordForm.get('password')?.hasError('minlength') && resetPasswordForm.get('password')?.touched"
             class="reset-password-error">Hasło musi zawierać przynajmniej 8 znaki
        </p>
        <p *ngIf="resetPasswordForm.get('password')?.hasError('maxlength') && resetPasswordForm.get('password')?.touched"
             class="reset-password-error">Hasło nie może przekraczać 24 znaków
        </p>
      </div>

      <div class="col">
        <h3>Powtórz hasło: </h3>
        <input matInput class="reset-password-input" type="password" placeholder="Potwierdź hasło" formControlName="confirmPassword" required>
        <p *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required') && resetPasswordForm.get('confirmPassword')?.touched"
             class="reset-password-error">Proszę powtórzyć hasło
        </p>
        <p *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('isMatching') && resetPasswordForm.get('confirmPassword')?.touched"
             class="reset-password-error">Hasła muszą być takie same
        </p>
      </div>
      <br>
      <button type="submit" class="btn btn-success col" (click)="submitAndResetPassword()">Zapisz nowe hasło</button>
    </form>

</div>
