.reset-password-container {
  background-color: black;
  margin-top: 1%;
  color: #fff;
  padding: 0.5rem;
  height: 105%;
}

.reset-password-form {
  border: 1px solid white;
  padding: 1rem;
}

.reset-password-error {
  color: #ffffff;
  font-style: italic;
}

.reset-password-input {
  background-color: gray;
  height: 3rem;
  width: 300px;
  border-radius: 2%;
}

.reset-password-input::placeholder {
  color: white;
}
