.member-profile-content {
  background-color: rgba(0, 0, 0, 0.85);
  height: 110%;
  color: #eaeaea;
}

.log-in-to-enter {
  font-family: Lato;
  padding: 3rem;
}

.member-profile-description {
  margin-bottom: 2rem;
}

.member-profile-description-text {
  margin-top: 20px;
}

.member-profile-game-icon {
  color: gold;
  vertical-align: middle;
  font-size: 1.7rem;
}
