.member-profile-content {
  background-color: black;
  min-height: 1160px;
  color: white;
}

.member-profile-description {
  margin-bottom: 2rem;
}

.member-profile-description-text {
  /*margin-left: 10px;*/
  margin-top: 20px;
}
