<div class="user-management-content">
    <table style="color:#FFFFFF" class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Nickname</th>
          <th scope="col">Active Roles</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tr *ngFor="let user of users">
        <td>{{user!.username}}</td>
        <td>{{user!.nickname}}</td>
        <td>{{user!.roles}}</td>
        <td><button (click)="openRolesModal(user!)" class="btn btn-info">Edit Roles</button></td>
      </tr>
    </table>
</div>
