.team-details-page{
  background-color: black;
  height: 100%;
  color: white;
}

.team-details-logo {
  max-height: 500px;
  max-width: 500px;
  min-height: 500px;
  max-height: 500px;
}

.flex-content{
  display: flex;
}

.team-photo{
  margin-left: 300px;
}

.team-details-member {
  margin-bottom: 0.5rem;
}

.team-details-member-link {
  color: white;
}

.team-details-member-img {
  width: 120px;
  border-radius: 5%;
}
