<div class="team-details-page" *ngIf="team">
  <div class="title">
    <h4 class="ml-2">SZCZEGÓŁY DRUŻYNY</h4>
    <div class="separator"></div>
  </div>
  <div class="flex-content">
    <div class="team-details">
      <h2 class="ml-2 mt-1 mb-3">Nazwa drużyny: {{team.name}}</h2>
      <h2 class="ml-2 mt-1 mb-3">Skład drużyny:
        <div *ngFor="let user of teamUsers">{{user.user.nickname}}</div>
      </h2>
    </div>
    <div class="team-photo">
      <h2>Logo drużyny</h2>
      <img src="{{team.photoUrl}}" alt="{{team}}">
    </div>
  </div>
  <div>
    <button class="btn btn-success btn-lg" (click)="joinTeam()">Dołącz do drużyny</button>
  </div>
</div>
