<div class="team-details-page" *ngIf="team">
  <div class="title">
    <h4 class="ml-2">SZCZEGÓŁY DRUŻYNY</h4>
    <div class="separator"></div>
  </div>
  <h2 class="ml-2 mt-1 mb-3">{{team.name}}</h2>
  <div class="details-content">
    <div class="event-details ml-2">
      <h2>Zdjęcie drużyny</h2>
      <div *ngFor="let member of members">{{member.nickname}}</div>
      <div>
        <button class="btn btn-success" (click)="joinTeam()">Dołącz do drużyny</button>
      </div>
    </div>
  </div>
</div>
