<div class="container team-details-page" *ngIf="team">

  <h1 class="section-title"><span class="section-title-accent">SZCZEGÓŁY</span> DRUŻYNY&nbsp;</h1>

  <div class="row">
    <div class="col">
      <h2 class="">Nazwa drużyny: <span class="section-title-accent">{{team.name}}</span></h2><br>
      <h2 class="">Skład drużyny:
      </h2>
        <div *ngFor="let user of teamUsers">{{user.user.photoUrl}}{{user.user.nickname}}</div>

    </div>
    <div class="col ">
      <h2>Logo drużyny</h2>
      <img src="{{team.photoUrl}}" alt="{{team}}">
    </div>
  </div>
  <div>
    <button class="btn btn-success btn-lg" (click)="joinTeam()">Dołącz do drużyny</button>
  </div>
</div>
