.team-details-page{
  background-color: black;
  width: 80%;
  /*height: 100%;*/
  height: 1160px;
  margin-top: 4%;
  margin-left: 10%;
  color: white;
}
img{
  max-height: 500px;
  max-width: 500px;
  min-height: 500px;
  max-height: 500px;
}
.flex-content{
  display: flex;
}
.team-photo{
  margin-left: 300px;
}
.btn{

}
