<div class="container card mb-4 mr-3 ml-3 mt-3">

  <div class="card-img-wrapper">
    <a href="/members/{{member.username}}" class="member-card-profile-link">
    <img src="{{member.photoUrl || './assets/user.png'}}"
         alt="{{member.nickname}}"
         class="card-img-top img-fluid"
         [matTooltip]="member.description">
    </a>
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item">
        <button class="btn btn-primary btn-icons" routerLink="/members/{{member.username}}">
          <i class="fa fa-user"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button routerLink="/messages/thread/{{member.username}}" class="btn btn-primary btn-icons">
          <i class="fa fa-envelope"></i>
        </button>
      </li>
    </ul>
  </div>

  <div class="row card-body p-1">
    <h6 class="col card-title text-center mb-1">
      <span [class.is-online]="(presenceService.onlineUsers$ | async)?.includes(member.username)">
              <i class="fa fa-user mr-2"></i>
      </span>
      <span class="text-break"><a href="/members/{{member.username}}" class="member-card-profile-link">{{member.nickname}}</a></span>
    </h6>
  </div>

</div>
