.main-page-content {
  background-color: #111211;
  color: #dedede;
  padding: 0.5rem;
}

.main-page-content-news {
  margin-bottom: 3rem;
}

.main-page-news-short {
  height: 100%;
}

.main-page-news-extended {
}

.main-page-content-event {
  margin-bottom: 25px;
}
