<app-main-page-banner></app-main-page-banner>

<div class="main-page-content">

  <h1 class="section-title"><span class="section-title-accent">NAJNOWSZE</span> NEWSY&nbsp;</h1>

  <div class="main-page-content-news row no-gutters">
    <div class="col-xl-4">
      <app-news-short (articlesExtended)="getExtendedNews($event)" class="col-md-4 main-page-news-short"></app-news-short>
    </div>
    <div class="col-xl-8">
      <app-news-extended [newsInput]="news" class="col-md-8 main-page-news-extended"></app-news-extended>
    </div>
  </div>

  <h1 class="section-title"><span class="section-title-accent">NADCHODZĄCE</span> WYDARZENIA&nbsp;</h1>

  <div class="main-page-content-event container-fluid">
    <app-events-short></app-events-short>
  </div>

</div>
