<app-main-page-banner></app-main-page-banner>

<div class="main-page-content">

  <div class="title">
    <div class="separator"></div>
    <h4>
      <span class="main-page-content-title">NAJNOWSZE</span>
      <span> NEWSY</span>
    </h4>
    <div class="separator2"></div>
  </div>

  <div class="main-page-content-news row no-gutters">
    <div class="col-xl-4">
      <app-news-short (newsExtended)="getExtendedNews($event)" class="col-md-4 main-page-news-short"></app-news-short>
    </div>
    <div class="col-xl-8">
      <app-news-extended [newsInput]="news" class="col-md-8 main-page-news-extended"></app-news-extended>
    </div>
  </div>

  <div class="title">
    <div class="separator">
    </div>
    <h4>
      <span class="main-page-content-title">NADCHODZĄCE</span>
      <span> WYDARZENIA</span>
    </h4>
    <div class="separator2">
    </div>
  </div>

  <div class="main-page-content-event container-fluid">
    <app-events-short></app-events-short>
  </div>

</div>
