.main-page-content{
  background-color: black;
  margin-left: 10%;
  margin-top: 1%;
  width: 80%;
  height: 826px;
  position: relative;
  color: #fff;
}
.main-page-content-news{
  padding-top: 20px;
  padding-bottom: 30px;
}

.main-page-content-event {
  margin-bottom: 25px;
}

.main-page-content-title{
  color: #C3073F;
}

.title{
  display: flex;
  flex-direction: row;
}

.separator {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 5%;
}

.separator::before{
  content: '';
  flex: 1;
  border-bottom: 0.3rem solid #2D2D2D;
}

.separator2 {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 75%;
}

.separator2::after {
  content: '';
  flex: 1;
  border-bottom: 0.3rem solid #2D2D2D;
}


