.main-page-content {
  background-color: black;
  margin-top: 1%;
  color: #fff;
  padding: 0.5rem;
}

.main-page-content-news {
  margin-bottom: 2rem;
}

.main-page-news-short {
  height: 100%;
}

.main-page-news-extended {
}

.main-page-content-event {
  margin-bottom: 25px;
}

.main-page-content-title {
  color: #C3073F;
}

.title {
  display: flex;
  flex-direction: row;
}

.separator {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 5%;
}

.separator::before {
  content: '';
  flex: 1;
  border-bottom: 0.3rem solid #2D2D2D;
}

.separator2 {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 75%;
}

.separator2::after {
  content: '';
  flex: 1;
  border-bottom: 0.3rem solid #2D2D2D;
}
