<div class="event-team-page-content" *ngIf="events">

  <div class="title mt-2">
    <h4 class="ml-2">WYDARZENIA</h4>
    <div class="separator"></div>
  </div>

  <div class="flex-page-content container-fluid">
    <div class="flex-container col-xl-8">
      <div class="team-event" *ngFor="let event of events" routerLink="eventsteam/{{event.eventTeamId}}">
        <p><h4>{{event.name}}</h4>
        <p>DATA: {{event.startDate | date}} - {{event.endDate | date}}</p>
        <p>GRA: {{event.game.title}}</p>
        <p>PULA NAGRÓD: {{event.winnerPrize}}</p>
      </div>
    </div>
    <div class="event-result col-xl-4">
        Wyniki
    </div>
  </div>
</div>
