.event-team-page-content {
  padding: 1rem;
}

.team-event {
  background-color: #292E37;
  color: white;
  height: 205px;
  width: 420px;
  margin: 0px 15px 30px 15px;
  padding-left: 5px;
}

.events-filter {
  background-color: #2e2e32;
  margin: -20px 0.8rem 30px 0;
  color: #dcdcdc;
  border: 1px solid #eaeaea;
}

.events-filter:hover {
  box-shadow: -0.5rem -0.5rem #d28a04;
  transition: 0.2s;
}

.events-filter-selected {
  box-shadow: -0.5rem -0.5rem #d28a04;
  transition: 0.2s;
}

.event-result {
  padding: 0.5rem;
  background-color: #292E37;
  height: 100%;
  margin-right: 1rem;
  background-image: url("src/assets/results-achievements.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.event-team-list-title {
  font-family: Lato;
  font-weight: bold;
}

.team-event:hover {
  background-color: #3e3e44;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0.5rem 0.5rem #d28a04, -0.5rem -0.5rem #d28a04;
}

.event-result-row {
  margin-bottom: 1.2rem;
}

.event-solo-result-title {
  text-align: center;
  font-family: Lato;
  font-weight: bold;
}

.event-result-event-link {
  color: white;
}

.event-result-name {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.event-result-winner-nickname {
  font-style: italic;
  font-weight: 600;
  color: #F29F05;
}

.event-result-image {
  width: 200px;
  border: 1px solid #000000;
  border-radius: 50%;
}

.event-solo-list-lol {
  background-image: url("src/assets/lol-short-event.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.event-solo-list-wot {
  background-image: url("src/assets/wot-short-event.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.event-solo-list-valorant {
  background-image: url("src/assets/valorant-short-event.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.event-solo-list-csgo {
  background-image: url("src/assets/csgo-short-event.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.event-solo-list-dota {
  background-image: url("src/assets/dota-short-event.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.event-solo-list-starcraft {
  background-image: url("src/assets/starcraft-short-event.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.event-solo-list-cod {
  background-image: url("src/assets/cod-short-event.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.event-solo-list-tarkov {
  background-image: url("src/assets/tarkov-short-event.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.event-solo-list-celeste {
  background-image: url("src/assets/celeste-short-event.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.event-solo-list-fortnite {
  background-image: url("src/assets/fortnite-short-event.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
