<div class="container-fluid event-team-page-content" *ngIf="events">

  <h1 class="section-title"><span class="section-title-accent">WYDARZENIA</span> DRUŻYNOWE&nbsp;</h1>

  <div class="row">
    <div class="col">
      <div class="row justify-content-center">
        <div class="team-event" *ngFor="let event of events" routerLink="eventsteam/{{event.eventTeamId}}">
          <p><h4>{{event.name}}</h4>
          <p>DATA: {{event.startDate | date}} - {{event.endDate | date}}</p>
          <p>GRA: {{event.game.title}}</p>
          <p>PULA NAGRÓD: ${{event.winnerPrize | number: '1.0-0'}}</p>
        </div>
      </div>
    </div>

    <div class="event-result col-xl-4">
      <h3 class="event-solo-result-title">Ostatnie wyniki: </h3>

      <div *ngFor="let result of eventTeamResults" class="row justify-content-center event-result-row">
        <div class="col-xl-12 d-flex justify-content-center">
          <a class="event-result-event-link" href="/events/eventsteam/{{result.eventTeamId}}">
            <span class="event-result-name">{{result?.eventTeamName}}</span>
          </a>
        </div>
        <div class="col-xl-12 d-flex justify-content-center">
          <a class="event-result-event-link" href="/teams/details/{{result.team?.name}}">
            <img class="image-fluid event-result-image" src="{{result.team?.photoUrl}}">
          </a>
        </div>
        <div class="col d-flex justify-content-center">
          <a class="event-result-event-link" href="/teams/details/{{result.team?.name}}">
            <span class="event-result-winner-nickname">{{result.team?.name}}</span>
          </a>
        </div>
      </div>

    </div>
  </div>

</div>
