<div class="container-fluid event-team-page-content" *ngIf="events">

  <h1 class="section-title"><span class="section-title-accent">WYDARZENIA</span> DRUŻYNOWE&nbsp;</h1>

  <div class="flex-page-content container-fluid">
    <div class="flex-container col-xl-8">
      <div class="team-event" *ngFor="let event of events" routerLink="eventsteam/{{event.eventTeamId}}">
        <p><h4>{{event.name}}</h4>
        <p>DATA: {{event.startDate | date}} - {{event.endDate | date}}</p>
        <p>GRA: {{event.game.title}}</p>
        <p>PULA NAGRÓD: ${{event.winnerPrize | number: '1.0-0'}}</p>
      </div>
    </div>
    <div class="event-result col-xl-4">
        Wyniki
    </div>
  </div>
</div>
