<div class="container-fluid broadcasts-main-container">


  <select name="game"
          id="game-select"
          class="broadcasts-select"
          (change)="onGameChange($any($event.target).value)">
    <option value="">Dowolna kategoria</option>
    <option value="21779">League of legends</option>
    <option value="516575">Valorant</option>
    <option value="32399">Counter Strike: Global Offensive</option>
    <option value="33214">Fortnite</option>
    <option value="29595">Dota 2</option>
    <option value="490422">StarCraft II</option>
    <option value="512710">Call of Duty: Warzone</option>
    <option value="491931">Escape from Tarkov</option>
    <option value="492535">Celeste</option>
    <option value="27546">World of Tanks</option>
  </select>
  <select name="language"
          id="language-select"
          class="broadcasts-select"
          (change)="onLanguageChange($any($event.target).value)">
    <option value="">Dowolny język</option>
    <option value="en">Angielski</option>
    <option value="pl">Polski</option>
  </select>


  <div class="row justify-content-center">
    <div *ngFor="let broadcast of twitchBroadcasts" class="">

      <div class="broadcasts-element">
        <img class="img-fluid broadcast-thumbnail" src="{{broadcast.thumbnail_url}}" routerLink="/broadcast/{{broadcast.user_name}}">
        <h5 class="broadcast-element-content">
          <a class="broadcast-link" href="/broadcast/{{broadcast.user_name}}">{{(broadcast.title.length > 50) ? (broadcast.title | slice:0:47)+'...' : broadcast.title}}</a>
        </h5>
        <h6 class="broadcast-element-content">
          <a class="broadcast-link" href="/broadcast/{{broadcast.user_name}}">{{broadcast.user_name}}</a>
          <i class="material-icons broadcast-person-icon">person</i> {{broadcast.viewer_count | number: '1.0-0'}}
        </h6>
      </div>

    </div>
  </div>
</div>
