<iframe
  src="https://player.twitch.tv/?channel=aquafps&parent=localhost&muted=true&autoplay=false"
  height="250"
  width="250"
  allowfullscreen="true">
</iframe>
<iframe
  src="https://player.twitch.tv/?channel=auronplay&parent=localhost&muted=true&autoplay=false"
  height="250"
  width="250"
  allowfullscreen="true">
</iframe>
<iframe
  src="https://player.twitch.tv/?channel=noway4u_sir&parent=localhost&muted=true&autoplay=false"
  height="250"
  width="250"
  allowfullscreen="true">
</iframe>
<iframe
  src="https://player.twitch.tv/?channel=blastpremier&parent=localhost&muted=true&autoplay=false"
  height="250"
  width="250"
  allowfullscreen="true">
</iframe>
<iframe
  src="https://player.twitch.tv/?channel=stylishnoob4&parent=localhost&muted=true&autoplay=false"
  height="250"
  width="250"
  allowfullscreen="true">
</iframe>
