.photo-content{

}

.my-drop-zone {
  color: #F29F05;
}

.img-thumbnail{
  max-height: 100px;
  max-width: 100px;
}

.edit-member-add-photo {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.edit-member-upload-queue {
  margin-top: 0.3rem;
}
