.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.input-group {
  max-width: 300px;
}

.member-list-search-container {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.member-list-search-btn {
  color: white;
  margin-left: 0.3rem;
}

.member-list-search {
  background-color: #414147;
  color: white;
  width: 15rem;
  margin-top: 1rem;
}

.select-tooltip {
  padding-left: 0.2rem;
  margin-top: 1.2rem;
}

.member-list-search::placeholder {
  color: #acacac;
}

::ng-deep.page-link {
  background-color: #000000 !important;
}

::ng-deep.page-item a {
  color: #ffffff !important;
}

::ng-deep.page-item > a {
  border-color: #414147 !important;
}

::ng-deep.page-item.active > a {
  border-color: #ffffff !important;
}
