<div class="member-statistics">

  <div class="title">
    <h4>GENERALNE STATYSTYKI</h4>
    <div class="separator"></div>
  </div>
<hr>
  <h5>STATYSTYKI z wydarzeń</h5>

  <div class="row" *ngIf="generalStatistics">
    <p class="col-xl-12">
      <img class="member-statistics-event-icon" src="../../../assets/event-participated-icon.png">
      Użytkownik do tej pory wziął udział w:  {{generalStatistics.eventsParticipated}}
      {{generalStatistics.eventsParticipated === 1 ? 'wydarzeniu' : 'wydarzeniach'}}</p>
  </div>
  <hr>
  <h5>STATYSTYKI Z GRY</h5>

  <div class="game-select row">
    <mat-form-field appearance="fill">
      <mat-label>Wybierz grę:</mat-label>
      <mat-select [(ngModel)]="gameId" name="game-name">
        <mat-option [value]="game.gameId" *ngFor="let game of games" (click)="loadGame()">{{game.title}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="gameStatistic; else nullAnswer">
    Liczba wygranych gier: {{gameStatistic.wonGames}}
    Liczba przegranych gier: {{gameStatistic.lostGames}}
  </div>
  <ng-template #nullAnswer>
    <p>Brak statystyk do wyświetlenia</p>
  </ng-template>

</div>
