<div class="member-statistics">

  <h1 class="section-title"><span class="section-title-accent">STATYSTYKI</span> Z WYDARZEŃ&nbsp;</h1>

  <div class="row" *ngIf="generalStatistics">
    <p class="col-xl-12">
      <img class="member-statistics-event-icon" src="../../../assets/event-participated-icon.png">
      Użytkownik do tej pory wziął udział w:  {{generalStatistics.eventsParticipated}}
      {{generalStatistics.eventsParticipated === 1 ? 'wydarzeniu' : 'wydarzeniach'}}</p>
  </div>

  <h1 class="section-title"><span class="section-title-accent">STATYSTYKI</span> Z GIER&nbsp;</h1>

  <label>Wybierz grę:</label>
  <div class="game-select">
      <select (change)="loadGame($any($event.target).value)"
              name="game-name"
              class="game-select-input">
        <option [value]="game.gameId" *ngFor="let game of games" (click)="loadGame(game.gameId)">{{game.title}}</option>
      </select>
  </div>

  <div *ngIf="gameStatistic; else nullAnswer">
    Liczba wygranych gier: {{gameStatistic.wonGames}}<br>
    Liczba przegranych gier: {{gameStatistic.lostGames}}
  </div>
  <ng-template #nullAnswer>
    <p>Brak statystyk do wyświetlenia</p>
  </ng-template>

</div>
