.member-statistics {
/*background-color: wheat*/
}

.title {
  display: flex;
  flex-direction: row;
}

.separator {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 85%;
}

.separator::after {
  content: '';
  flex: 1;
  border-bottom: 0.3rem solid #2D2D2D;
}

hr {
  border-color: #2D2D2D;
}

.statistic-row {
  display: flex;
  font-weight: bold;
  font-size: large;
}

.statistic {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  width: 100%;
}

.statistic-value {
  color: #C3073F;
  margin-left: 5%;
}

.game-select {
  color: white;
}

.member-statistics-event-icon {
  height: 100px;
  width: 100px;
}

/deep/ .mat-select-panel {
  background-color: white;
}

/deep/ .mat-form-field-infix {
  background-color: white;
}

/deep/ .mat-select {
  background-color: white;
}

/deep/ .mat-form-field-type-mat-select, .mat-select-value {
  color: white;
}

/deep/ .mat-form-field-label {
  color: blue;
}
