<div class="memberStatistics">
  <div class="title mb-3">
    <h4>STATYSTYKI</h4>
    <div class="separator"></div>
  </div>
  <div class="statisticRow">
    <div class="statistic">
      <p>Ulubiona Gra:</p>
      <p><span class="statisticValue">League of Legends</span></p>
    </div>
    <div class="statistic">
      <p>Ulubiona Postać:</p>
      <p><span class="statisticValue">Wukong</span></p>
    </div>
  </div>
  <div class="separator mt-3 mb-3"></div>

  <div class="statisticRow">
    <div class="statistic">
      <p>Wszystkie rozegrane mecze:</p>
      <p><span class="statisticValue">47</span></p>
    </div>
    <div class="statistic">
      <p>Wygrane/przegrane mecze</p>
      <p><span class="statisticValue">Tutaj kreseczka</span></p>
    </div>
  </div>
  <div class="separator mt-3 mb-3"></div>

  <div class="statisticRow">
    <div class="statistic">
      <p>Ulubiona Drużyna:</p>
      <p><span class="statisticValue">Team Liquid</span></p>
    </div>
    <div class="statistic">
      <p>Najczęściej oglądana gra:</p>
      <p><span class="statisticValue">Call of Duty: Warzone</span></p>
    </div>
  </div>
</div>
