.event-solo-page-content {
  padding: 1rem;
}

.solo-event {
  background-color: #292E37;
  color: white;
  height: 205px;
  width: 420px;
  margin: 0px 10px 20px 10px;
  padding-left: 5px;
}

.event-result {
  padding: 0.5rem;
  background-color: #292E37;
  height: 1000px;
  margin-right: 1rem;
}

.solo-event:hover {
  background-color: #d52b58;
  cursor: pointer;
  transition: 0.2s;
}

