<div class="container-fluid event-solo-page-content" *ngIf="events">

  <h1 class="section-title"><span class="section-title-accent">WYDARZENIA</span> SOLO&nbsp;</h1>

  <div class="row">
    <div class="col">
      <div class="row justify-content-center">
        <div class="solo-event" *ngFor="let event of events" routerLink="eventsuser/{{event.eventUserId}}">
          <p><h4 class="text-break">{{event.name}}</h4>
          <p>DATA: {{event.startDate | date}} - {{event.endDate | date}}</p>
          <p>GRA: {{event.game.title}}</p>
          <p>PULA NAGRÓD: ${{event.winnerPrize | number: '1.0-0'}}</p>
        </div>
      </div>
    </div>

    <div class="event-result col-xl-4">
      <div clas="row">
        aaaaaaaaa aaaaaaaaaaa aaaaaaaaa
      </div>
    </div>
  </div>



</div>
