<br><span class="col">Sprawdź listę wydarzeń - wybierz odpowiednią zakładkę</span>
<br><span *ngIf="!user" class="col">Zaloguj się, aby wziąć udział lub zobaczyć zapisane osoby</span>
<div class="container-fluid event-solo-page-content" *ngIf="eventsToShow">

  <h1 class="section-title"><span class="section-title-accent">WYDARZENIA</span> INDYWIDUALNE&nbsp;</h1><br>
  <button mat-button class="events-filter" (click)="showComingEvents()" [class.events-filter-selected]="comingSelected">Nadchodzące</button>
  <button mat-button class="events-filter" (click)="showFinishedEvents()" [class.events-filter-selected]="finishedSelected">Zakończone</button>
  <button mat-button class="events-filter" (click)="showAllEvents()" [class.events-filter-selected]="allSelected">Wszystkie</button>
  <div class="row d-flex justify-content-center">
    <div class="col">
      <div class="row justify-content-center">
        <div class="solo-event" [ngClass]="checkClassName(event.game.title)" *ngFor="let event of eventsToShow" routerLink="eventsuser/{{event.eventUserId}}">
          <p><h4 class="text-break event-solo-list-title">{{event.name}}</h4>
          <p>{{event.startDate | date}} - {{event.endDate | date}}</p>
          <p>GRA: {{event.game.title}}</p>
          <p>PULA NAGRÓD: ${{event.winnerPrize | number: '1.0-0'}}</p>
        </div>
      </div>
    </div>

    <div class="event-result col-xl-4">
      <h3 class="event-solo-result-title">Ostatnie wyniki: </h3>

      <div *ngFor="let result of eventUserResults" class="row justify-content-center event-result-row">
        <div class="col-xl-12 d-flex justify-content-center">
          <a class="event-result-event-link" href="/events/eventsuser/{{result.eventUserId}}">
            <span class="event-result-name">{{result.eventUserName}}</span>
          </a>
        </div>
        <div class="col-xl-12 d-flex justify-content-center">
          <a *ngIf="user" href="/members/{{result.user?.username}}">
            <img class="image-fluid event-result-image" src="{{result.user?.photoUrl}}" alt="user's picture">
          </a>
          <img *ngIf="!user" class="image-fluid event-result-image" src="{{result.user?.photoUrl}}" alt="user's picture">
        </div>
        <div class="col d-flex justify-content-center">
          <a *ngIf="user" href="/members/{{result.user?.username}}">
            <span class="event-result-winner-nickname">{{result.user?.nickname}}</span>
          </a>
          <span *ngIf="!user" class="event-result-winner-nickname">{{result.user?.nickname}}</span>
        </div>
      </div>
    </div>
  </div>



</div>
