.news-extended {
  background-color: #242427;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 93%;
}

.news-extended-title {
  font-family: "Raleway";
  font-size: 1.6rem;
  margin-top: 5px;
  color: #eaeaea;
  font-weight: 600;
}

.news-extended-image {
  background-color: #242427;
}

.news-extended-thumbnail {
  max-height: 300px;
  width: 100%;
  object-fit: none;
}

.news-extended-description {
  margin-top: 0.2rem;
}

.news-extended-content {
  font-size: 0.9rem;
  line-height: 1.7;
  text-align: justify;
}

.news-extended-date {
  font-size: 0.7rem;
}

.news-extended-read-more-btn {
  background-color: #1a1b21;
  border-color: #2c2c31;
  color: white;
  width: 200px;
  height: 50px;
}

.news-extended-read-more-btn:hover {
  background-color: #414147;
}

.news-extended-read-more-btn:active {
  background-color: #414147;
}
