.news-extended {
  background-color: #292E37;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.news-extended-image {
  background-color: #292E37;
}

.news-extended-thumbnail {
  max-height: 300px;
  width: 100%;
  object-fit: none;
}

.news-extended-description {
}

.news-extended-read-more-btn {
  background-color: #1a1b21;
  border-color: #2c2c31;
  color: white;
  width: 200px;
  height: 50px;
}
.news-extended-read-more-btn:hover {
  background-color: #C3073F;
}

.news-extended-read-more-btn:active {
  background-color: #9a042f;
}
