<div class="edit-page-content container" *ngIf="member">
  <div class="col-xl-4">
    <h1>Edytuj swój profil</h1>
  </div>

  <div>
    <div class="alert alert-info" *ngIf="editForm.dirty">
      <strong>Informacja: </strong> Wprowadziłeś/aś zmiany. Wszystkie niezapisane zmiany zostaną utracone!
    </div>
  </div>

  <div class="col-xl-6 edit-member-nickname">
    <form #editForm="ngForm" (ngSubmit)="updateMember()" id="editForm">
    <h4>Nickname</h4>
    <textarea class="form-control" [(ngModel)]="member.nickname" name="nickname" rows="1"></textarea>
    </form>
  </div>

  <div class="col-xl-6">
    <h4>Wybierz zdjęcie profilowe</h4>
    <app-member-photo-editor [member]="member"></app-member-photo-editor>
  </div>

  <button [disabled]="!editForm.dirty" form="editForm" type="submit" class="btn btn-success btn-block col-xl-6">Zapisz zmiany</button>
</div>
