.messages-content {
  min-height: 1100px;
  height: 100%;
  opacity: 0.9;
  background-color: black;
  color: #dedede;
  padding: 0.5rem;
}
.img-circle{
  max-height: 50px;
}

.messages-text {
}

.empty-img {
  opacity: 0.9;
}

.empty-text {
  text-align: center;
  line-height: 1.8;
}

.messages-chat-list-row {
  border: 1px solid #F29F05;
  border-radius: 10px;
  margin: 0.5rem;
  transition: 0.2s;
}

.messages-chat-list-row:hover {
  background-color: #414147;
}

.messages-chat-list-picture {
  margin: 5px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: fill;
}

.messages-chat-image-container {
  border-right: 5px dotted #F29F05;
  margin-right: 0.5rem;
}

.messages-chat-list-name {
  font-family: Lato;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.messages-chat-list-content {
  max-width: 100%;
}
