<div class="messages-content container">
<div class="row justify-content-xl-center">

  <div class="messages-chat-list-row col-xl-9" *ngFor="let message of messages; let i = index" routerLink="/messages/thread/{{chatInfo[i].titleName}}" >
    <div class="row">

      <div class="messages-chat-image-container">
        <img class="messages-chat-list-picture" src="{{chatInfo[i].pictureUrl}}" alt="user's picture">
      </div>

      <div class="col">
        <p class="messages-chat-list-name">{{chatInfo[i].titleName}}</p>
        <p class="messages-chat-list-content float-left text-wrap text-truncate">
          {{chatInfo[i].term}}: {{message.content}}
        </p>
        <p class="float-right col-xl-4">{{message.messageSent | date}}</p>
      </div>

    </div>
  </div>

  <div class="col-xl-9" *ngIf="messages.length === 0">
    <div class="row justify-content-center">
      <img class="empty-img" src="assets/empty-mailbox.png" alt="empty mailbox icon">
    </div>
    <div class="row justify-content-center">
      <span class="empty-text">Nie masz jeszcze żadnych wiadomości! <br>
        Przejdź do zakładki Społeczność i napisz komuś coś miłego.</span>
    </div>
  </div>

  </div>
</div>
