<div class="messages-content container">
<div class="row justify-content-xl-center">

  <div class="messages-chat-list-row col-xl-9" *ngFor="let message of messages; let i = index" routerLink="/messages/thread/{{chatInfo[i].titleName}}" >
    <div class="row">

      <div class="messages-chat-image-container">
        <img class="messages-chat-list-picture" src="{{chatInfo[i].pictureUrl}}">
      </div>

      <div class="col">
        <p class="messages-chat-list-name">{{chatInfo[i].titleName}}</p>
        <p class="messages-chat-list-content float-left text-wrap text-truncate">
          {{chatInfo[i].term}}: {{message.content}}
        </p>
        <p class="float-right col-xl-4">{{message.messageSent | date}}</p>
      </div>

    </div>
  </div>

</div>
</div>
