.header {
  color: wheat;
  background-image: url("../../../assets/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.8);
}

.flex-menu-container {
  justify-content: flex-end;
  margin-right: 5%;
}

.navbar-brand {
  margin-left: 5%;
  font-weight: bold;
  font-size: 1.5rem;
}

.dropdown-toggle, .dropdown-item {
  cursor: pointer;
}

.hide {
  display: none;
}

.header-align-right {
  text-align: right;
}

.header-avatar {
  height: 50px;
  width: 50px;
  border: 2px solid #ffffff;
  display: inline;
  object-fit: fill;
  margin-right: 0.2rem;
}

@media only screen and (max-width: 1100px) {
  .header-align-right {
    text-align: left;
  }
}
