<div class="header">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top mt-4">
    <a class="navbar-brand" href="#" (click)="consoling(login)">GAMERZZ</a>
    <div class="flex-menu-container">
      <ul class="navbar-nav" *ngIf="login.loggedIn">
        <li class="nav-item">
          <a class="nav-link" href="#">TWÓJ PLAN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">WYDARZENIA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">TRANSMISJE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CZAT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FORUM</a>
        </li>
      </ul>
      <app-login></app-login>
<!--      <button type="button" routerLink="/login" class="btn btn-outline-success">Zaloguj</button>-->
    </div>
  </nav>
</div>
