.header {
  background-color: #111211;
  font-family: "Tomorrow";
  margin-bottom: 0.5rem;
}

.header-logo {
  height: 70px;
}

.navbar {
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.flex-menu-container {
  justify-content: flex-end;
  margin-right: 3%;
}

.navbar-brand {
  margin-left: 3%;
  font-weight: bold;
  font-size: 1.5rem;
}

.dropdown-toggle, .dropdown-item {
  cursor: pointer;
}

.hide {
  display: none;
}

.header-align-right {
  text-align: right;
}

.header-avatar {
  height: 50px;
  width: 50px;
  border: 2px solid #ffffff;
  display: inline;
  object-fit: fill;
  margin-right: 0.2rem;
}

@media only screen and (max-width: 1100px) {
  .header-align-right {
    text-align: left;
  }
}
