<div class="header">
  <nav class="navbar navbar-expand-xl navbar-dark">
    <a class="navbar-brand" href="/"><img class="header-logo" src="assets/gamepad.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="flex-menu-container collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav">
        <ng-container *ngIf="accountService.currentUser$ | async">
          <li *appHasRole='["Admin"]' class="nav-item">
            <a class="nav-link" routerLink="/admin">ADMIN</a>
          </li>
          <li *appHasRole='["Admin", "Redaktor"]' class="nav-item">
            <a class="nav-link" routerLink="/editor-panel">REDAKTOR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/planner">KALENDARZ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/events">WYDARZENIA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/community'>SPOŁECZNOŚĆ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/broadcasts">TRANSMISJE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/messages'>WIADOMOŚCI</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/forum">FORUM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news">NEWSY</a>
          </li>
        </ng-container>
        <ng-container *ngIf="(accountService.currentUser$ | async) === null">
          <li class="nav-item">
            <a class="nav-link" routerLink="/events">WYDARZENIA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/broadcasts">TRANSMISJE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/forum">FORUM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news">NEWSY</a>
          </li>
        </ng-container>
        <li class="hide nav-item">
          <a class="nav-link" routerLink="/errors" routerLinkActive='active'>Errors</a>
        </li>
      </ul>

      <div *ngIf="!(accountService.currentUser$ | async)">
        <app-login></app-login>
      </div>

      <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
        <img src="{{user.photoUrl || './assets/user.png'}}" alt="avatar" class="header-avatar">
        <a class="dropdown-toggle text-light" dropdownToggle>Witaj {{user.nickname || user.username | titlecase}}</a>
        <div class="dropdown-menu " *dropdownMenu>
          <a class="dropdown-item" routerLink='members/{{user.username}}'>Mój profil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink='/member/edit'>Edytuj profil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="login.logout()">Wyloguj</a>
        </div>
      </div>

    </div>

  </nav>
</div>

