<div class="header">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top mt-4">
    <a class="navbar-brand" href="#">GAMERZZ</a>
    <div class="flex-menu-container">
      <ul class="navbar-nav" *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" href="#">TWÓJ PLAN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">WYDARZENIA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">TRANSMISJE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CZAT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FORUM</a>
        </li>
      </ul>
      <div *ngIf="!(accountService.currentUser$ | async)">
        <app-login></app-login>
      </div>
      <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>Witaj {{user.username | titlecase}}</a>
        <div class="dropdown-menu " *dropdownMenu>
          <a class="dropdown-item">Edytuj profil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="login.logout()"> Wyloguj</a>
        </div>
      </div>
    </div>
  </nav>
</div>

