.above-header-space {
  height: 1.5rem;
  background: url("../../../assets/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  background-color: black;
  color: wheat;
  margin-bottom: 100px;
  margin-top: 1.5rem;
}

.navbar {
  background-color: black;
}

.flex-menu-container{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 20px;
}

.navbar-brand{
  margin-left: 10%;
  font-weight: bold;
  font-size: 22px;
}


.btn{
  /*margin-left: 10px;*/
}

.dropdown-toggle, .dropdown-item{
  cursor: pointer;
}

.hide{
  display: none;
}

img{
  max-height: 50px;
  max-width: 50px;
  border: 2px solid #ffffff;
  display: inline;
}
