.member-achievements {
}

.section-title {
  margin: 0;
}

.rectangle-achievements {
}

.achievement {
  border-radius: 5%;
  align-items: center;
  height: 160px;
  min-width: 350px;
  background-color: goldenrod;
  margin: 0.5rem;
  padding: 0.2rem;
}

.achievement-image {
  height: 100px;
}

.achievement-name {
  font-family: Lato;
  font-weight: 600;
  font-size: 1.3rem;
  color: #2D2D2D;
  margin-left: 0.2rem;
}

.achievement-details {
  text-align: center;
  color: #383838;
}

