<div class="member-achievements">

  <h1 class="section-title"><span class="section-title-accent">OSIĄGNIĘCIA</span>&nbsp;</h1>

  <div class="rectangle-achievements row justify-content-center">

    <div class="row col-xl-12" *ngIf="memberAchievements.length === 0">
      <div class="col-sm-12">Użytkownik nie zdobył jeszcze osiągnięć</div>
    </div>

    <div class="achievement row justify-content-center col-xl-3" *ngFor="let achievement of memberAchievements">
      <div class=""><img class="achievement-image" src="../../../assets/achievment-icon.png" alt="Achievement"></div>
      <div class="achievement-name"><strong>{{achievement?.achievements?.name}}</strong></div>
      <div class="col-xl-12 achievement-details"><strong>{{achievement?.achievements?.details}}</strong></div>
    </div>

  </div>

</div>
