<div class="memberAchievements">
  <div class="title mb-3">
    <h4>OSIĄGNIĘCIA</h4>
    <div class="separator"></div>
  </div>
  <div class="rectangleAchievements">
    <div class="achievement">
      <div><img src="{{memberContent.member.photoUrl}}" alt="Achievement" class="achievementImage"></div>
      <div><p>Weź udział w 10 różnych wydarzeniach</p></div>
    </div>
    <div class="achievement">
      <div><img src="{{memberContent.member.photoUrl}}" alt="Achievement" class="achievementImage"></div>
      <div><p>Zajmij podium na turnieju</p></div>
    </div>
  </div>
  <button class="btn btn-info">Pokaż wszystkie</button>
</div>
