.event-solo-details-page {
  height: 105%;
  color: white;
  background-color: black;
  padding: 1rem;
}

.event-solo-details-winner {
  color: #ffcb00;
  font-family: Lato;
  font-weight: 600;
}

.event-details {
  background-color: #242427;
  padding: 1rem;
  color: #dedede;
}

.event-solo-details-name {
  font-family: Lato;
  font-weight: 600;
}

.event-image {
  object-fit: cover;
  object-position: center top;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.23);
  margin-bottom: 0.3rem;
}

img {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
}

h3 {
  margin-top: 5%;
}

.qualified-teams {
  width: 100px;
  height: 100px;
  background-color: #292E37;
  color: white;
  margin: 10px;
}

