<div class="event-solo-details-page container-fluid" *ngIf="event">

  <h1 class="section-title"><span class="section-title-accent">SZCZEGÓŁY</span> WYDARZENIA&nbsp;</h1>

  <h2 class="ml-2 mt-1 mb-3">{{event.name}}</h2>

  <div class="details-content row">

    <div class="col-xl-6">
      <div class="event-details">
        <p>DATA: {{event.startDate | date}} - {{event.endDate | date}}</p>
        <p>GRA: {{event.game.title}}</p>
        <p>ORGANIZATOR: {{event.eventOrganiser}}</p>
        <p>RODZAJ: {{event.eventType}}</p>
        <p>PULA NAGRÓD: {{event.winnerPrize}}</p>
        <p>OPIS: {{event.description}}</p>
      </div>

      <div *ngIf="user">
        <h3 class="">ZAKWALIFIKOWANI GRACZE</h3>
        <div class="row">
          <div class="qualified-teams" *ngFor="let member of Members">
            <img class="qualified-users-image" src="{{this.member.photoUrl}}" alt="./assets/user.png">
          </div>
        </div>
        <button class="btn btn-success" (click)="joinEvent()">ZAPISZ SIĘ</button>
      </div>

    </div>

    <div class="event-image col-xl-6">
      <img src="{{event.photoUrl}}" alt="{{event.name}}">
    </div>


  </div>
</div>
