<div class="events-short">
  <div class="events-short-first">
    <div class="events-short-image">

    </div>
    <div class="events-short-description">

    </div>
  </div>
  <div class="events-short-second">
    <div class="events-short-image">

    </div>
    <div class="events-short-description">

    </div>
  </div>
  <div class="events-short-third">
    <div class="events-short-image">

    </div>
    <div class="events-short-description">

    </div>
  </div>
  <div class="events-short-fourth">
    <div class="events-short-image">

    </div>
    <div class="events-short-description">

    </div>
  </div>
  <div class="events-short-fifth">
    <div class="events-short-image">

    </div>
    <div class="events-short-description">

    </div>
  </div>
</div>
