<div class="events-short">
  <p (click)="consoling(events)">aaa</p>
<!--  <carousel [loop]="true" [arrowsTheme]="'dark'"-->
<!--  [arrowsOutside]="true" [height]="350">-->

<!--    <div class="events-short-content carousel-cell" *ngFor="let event of events">-->
<!--        <div class="events-short-image">-->
<!--          Obrazek wydarzenia-->
<!--        </div>-->
<!--        <div class="events-short-description">-->
<!--          Opis wydarzenia-->
<!--        </div>-->
<!--      </div>-->

<!--  </carousel>-->

  <p-carousel class="events-short-carousel"
              [value]="events"
              [numVisible]="3"
              [numScroll]="3"
              [circular]="true"
              [responsiveOptions]="responsiveOptions">
    <ng-template let-event pTemplate="item">
      <div class="product-item">
        <div class="product-item-content">
          <div class="p-mb-3">
          </div>
          <div>
            <h4 class="p-mb-1" (click)="consoling(events)">Nazwa</h4>
            <h6 class="p-mt-0 p-mb-3">Opis</h6>
            <span [class]="'product-badge status-'">coś</span>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>

</div>
