.events-short{
  width: 90%;
  height: 350px;
  bottom: 0;
  display: flex;
  padding: 5px;
  margin-left: 5%;
}

.events-short-content{
  flex: 1 1 auto;
  border-color: red;
  border-style: solid;
  text-align: center;
  margin: 5px;
  background-color: black;
  height: 330px;
}

.events-short-image{
  background-color: black;
  height: 65%;
  width: 100%;
}

.events-short-description{
  background-color: #292E37;
  height: 35%;
  width: 100%;
}
