.events-short{
  width: 90%;
  height: 350px;
  bottom: 0;
  display: flex;
  padding: 5px;
  margin-left: 5%;
}

.events-short-content{
  flex: 1 1 auto;
  border-color: red;
  border-style: solid;
  text-align: center;
  margin: 5px;
  background-color: black;
  height: 330px;
}

.events-short-image{
  background-color: black;
  height: 65%;
  width: 100%;
}

.events-short-description{
  background-color: #292E37;
  height: 35%;
  width: 100%;
}

.product-item {
.product-item-content {
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  margin: .3rem;
  text-align: center;
  padding: 2rem 0;
}

.product-image {
  width: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}
}
