.events-short{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.events-short-carousel {

}

.events-short-image{
  background-color: black;
  height: 65%;
  width: 100%;
}

.events-short-description{
  background-color: #292E37;
  height: 35%;
  width: 100%;
}

.product-item-content {
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  text-align: center;
  margin: 0.2rem;
}

.product-image {
  width: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}
