<div class="event-team-details-page" *ngIf="event">

  <h1 class="section-title"><span class="section-title-accent">SZCZEGÓŁY</span> WYDARZENIA&nbsp;</h1>


  <h2 class="ml-2 mt-1 mb-3">{{event.name}}</h2>

  <div class="details-content row">

    <div class="col-xl-6">
      <div class="event-details">
        <p>DATA: {{event.startDate | date}} - {{event.endDate | date}}</p>
        <p>GRA: {{event.game.title}}</p>
        <p>ORGANIZATOR: {{event.eventOrganiser}}</p>
        <p>RODZAJ: {{event.eventType}}</p>
        <p>PULA NAGRÓD: {{event.winnerPrize}}</p>
        <p>OPIS: {{event.description}}</p>
      </div>

      <div *ngIf="user">
        <h3 class="">ZAKWALIFIKOWANE DRUŻYNY</h3>
        <div class="row">
          <div class="qualified-teams" *ngFor="let registration of teamRegistrations">
            <img class="qualified-users-image" src="{{registration.team.photoUrl}}" alt="{{registration.team.name}}">
          </div>
        </div>
        <button class="btn btn-success" (click)="open(addTeamRegistration)">ZAPISZ SIĘ</button>

      </div>
    </div>

    <div class="event-image col-xl-6">
      <img src="{{event.photoUrl}}" alt="{{event.name}}">
    </div>

  </div>
</div>

<ng-template #addTeamRegistration let-modal>
 <div *ngIf="user">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Zapisz drużyne do wydarzenia </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]='newTeamRegistrationForm' (ngSubmit)="newTeamRegistrationForm.valid && joinEvent()" autocomplete="off"
          id="newTeamRegistrationForm">
      <div class="form-group">
        <select
          class="form-control"
          formControlName="teamId">
          <option [ngValue]="team.teamId" *ngFor="let team of teams">{{team.team.name}}</option>
        </select>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button [disabled]="!newTeamRegistrationForm.valid"
            type="submit"
            class="btn btn-success"
            form="newTeamRegistrationForm"
            (click)="modal.close">
      Zapisz drużyne
    </button>
    <button type="button" class="btn btn-danger" (click)="modal.close()">Anuluj</button>
  </div>
 </div>
</ng-template>
