.form-control {
  margin-bottom: 10px;
  color: black;
}

.btn-link {
  margin-left: 10%;
}

.modal-header {
  background-color: #292E37;
  border-bottom:2px solid #F29F05;
}

.modal-body {
  background-color: #292E37;
  border-bottom:2px solid #F29F05;
}

.modal-footer {
  background-color: #292E37;
  border: 0;
}

h4 {
  color: #F29F05;
  font-weight: bold;
}

.close {
  color: #fff;
  opacity: 1;
}

input {
  background-color: #646f86;
  color: black;
}

input::placeholder {
  color: black;
}
