<button class="btn register-btn" (click)="open(content)">Zarejestruj się</button>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Zarejestruj się</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]='registerForm' (ngSubmit)="registerForm.valid && register()" autocomplete="off" id="registerForm">
      <div class="form-group">
        <input
          [class.is-invalid]='registerForm.get("username")?.errors && registerForm.get("username")?.touched'
          type="text"
          class="form-control"
          formControlName="username"
          placeholder="Nazwa użytkownika">
        <div class="invalid-feedback">Nazwa użytkownika jest wymagana</div>
      </div>

      <div class="form-group">
        <input
          [class.is-invalid]='registerForm.get("nickname")?.errors && registerForm.get("nickname")?.touched'
          type="text"
          class="form-control"
          formControlName="nickname"
          placeholder="Nick">
        <div class="invalid-feedback">Nickname jest wymagany</div>
      </div>

      <div class="form-group">
        <input
          [class.is-invalid]='registerForm.get("email")?.errors && registerForm.get("email")?.touched'
          type="text"
          class="form-control"
          formControlName="email"
          placeholder="Adres e-mail">
        <div class="invalid-feedback">Email jest wymagany</div>
      </div>

      <div class="form-group">
        Hasło musi składać się z 8 znaków, dużych i małych liter, i znaku specjalnego.
        <input
          [class.is-invalid]='registerForm.get("password")?.errors && registerForm.get("password")?.touched'
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Hasło">
        <div *ngIf="registerForm.get('password')?.hasError('required')"
             class="invalid-feedback">Hasło jest wymagane
        </div>
        <div *ngIf="registerForm.get('password')?.hasError('pattern')"
             class="invalid-feedback">Hasło jest za słabe
        </div>
        <div *ngIf="registerForm.get('password')?.hasError('minlength')"
             class="invalid-feedback">Hasło musi zawierać przynajmniej 8 znaki
        </div>
        <div *ngIf="registerForm.get('password')?.hasError('maxlength')"
             class="invalid-feedback">Hasło nie może przekraczać 24 znaków
        </div>
      </div>

      <div class="form-group">
        <input
          [class.is-invalid]='registerForm.get("confirmPassword")?.errors && registerForm.get("confirmPassword")?.touched'
          type="password"
          class="form-control"
          formControlName="confirmPassword"
          placeholder="Powtórz hasło">
        <div *ngIf="registerForm.get('confirmPassword')?.hasError('required')"
             class="invalid-feedback">Proszę powtórzyć hasło
        </div>
        <div *ngIf="registerForm.get('confirmPassword')?.hasError('isMatching')"
             class="invalid-feedback">Hasła muszą być takie same
        </div>
      </div>
    </form>

    <div class="row" *ngIf="validationErrors.length > 0">
      <ul class="text-danger">
        <li *ngFor="let error of validationErrors">
          {{error}}
        </li>
      </ul>
    </div>

  </div>
  <div class="modal-footer">
    <button [disabled]="!registerForm.valid" type="submit" class="btn btn-success" form="registerForm" (click)="modal.close()">Zarejestruj się</button>
    <button type="button" class="btn btn-danger" (click)="modal.close()">Anuluj</button>
  </div>
</ng-template>
