<div class="teams-page-content">

<!--  <div class="input-group teams-list-search-container">-->
<!--    <input type="search" class="form-control teams-list-search rounded mt-3 ml-3" placeholder="Wyszukaj drużynę" aria-label="Search"-->
<!--           aria-describedby="search-addon"/>-->
<!--    <button type="button" class="btn btn-outline-secondary teams-list-search-btn mt-3">Szukaj</button>-->
<!--  </div>-->

  <div class="flex-container justify-content-center">
    <div *ngFor="let team of teams">
      <app-teams-card [team]="team"></app-teams-card>
    </div>
  </div>

  <button class="btn btn-success teams-list-create-team-btn" (click)="open(content)">Utwórz drużyne</button>

</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Utwórz drużynę</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]='newTeamForm' (ngSubmit)="newTeamForm.valid && createNewTeam(addPhotoForTeam)" autocomplete="off" id="newTeamForm">
      <div class="form-group">
        <input
          [class.is-invalid]='newTeamForm.get("name")?.errors && newTeamForm.get("name")?.touched'
          type="text"
          class="form-control"
          formControlName="name"
          placeholder="Nazwa drużyny">
        <div class="invalid-feedback">Nazwa drużyny jest wymagana</div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button [disabled]="!newTeamForm.valid" type="submit" class="btn btn-success" form="newTeamForm"
            (click)="modal.close()">Przejdź do wyboru zdjęcia</button>
    <button type="button" class="btn btn-danger" (click)="modal.close()">Anuluj</button>
  </div>
</ng-template>


<ng-template #addPhotoForTeam let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Dodaj zdjęcie swojej drużynie </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-md-3">

      <h3>Add Photos</h3>

      <div ng2FileDrop
           [ngClass]="{'nv-file-over': hasBaseDropzoneOver}"
           (fileOver)="fileOverBase($event)"
           [uploader]="uploader"
           class="card bg-faded p-3 text-center mb-3 my-drop-zone">
        <i class="fa fa-upload fa-3x"></i>
        Drop photo here
      </div>

      Single
      <input type="file" ng2FileSelect [uploader]="uploader"/>
    </div>
    <button type="button" class="btn btn-success btn-s"
            (click)="uploader.uploadAll()" (click)="modal.close()">
      <span class="fa fa-upload"></span> Upload all
    </button>
  </div>
</ng-template>
