.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.teams-list-create-heading {
  color: black;
}

.input-group {
  max-width: 300px;
}

.teams-list-search-container {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.teams-list-search-btn {
  color: white;
  margin-left: 0.3rem;
}

.teams-list-search {
  background-color: #454d55;
  color: white;
}

.teams-list-search::placeholder {
  color: #acacac;
}

.teams-list-create-team-btn {
  margin: 0.8rem;
  color: #dedede;
  background-color: #414147;
  border-color: #F29F05;
}

.teams-add-header {
  color: black;
}

.teams-add-file {
  color: black;
}

.teams-create-btn {
  color: #242427;
  background: #F29F05;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
}

.teams-add-send-file-btn {
  margin-top: 10px;
  color: #242427;
  background: #F29F05;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
}
