<br><span class="col">Znajdź drużynę kompanów chętnych do wspólnej walki!<br></span>
<span class="col">Kliknij w <i class="fa fa-users"></i>, aby wyświetlić profil drużyny i do niej dołączyć. <br></span>
<span class="col">Nie znalazłeś nic odpowiedniego dla siebie? Utwórz własną drużynę!</span>
<div class="teams-page-content">

  <div class="flex-container justify-content-center">
    <div *ngFor="let team of teams">
      <app-teams-card [team]="team"></app-teams-card>
    </div>
  </div>

  <button class="btn teams-list-create-team-btn" (click)="open(content)">Utwórz drużynę</button>

</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title teams-list-create-heading" id="modal-basic-title">Utwórz drużynę</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]='newTeamForm' (ngSubmit)="newTeamForm.valid && createNewTeam(addPhotoForTeam)" autocomplete="off" id="newTeamForm">
      <div class="form-group">
        <input
          [class.is-invalid]='newTeamForm.get("name")?.errors && newTeamForm.get("name")?.touched'
          type="text"
          class="form-control"
          formControlName="name"
          placeholder="Nazwa drużyny">
        <div class="invalid-feedback">Nazwa drużyny jest wymagana</div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button [disabled]="!newTeamForm.valid" type="submit" class="btn teams-create-btn" form="newTeamForm"
            (click)="modal.close()">Przejdź do wyboru zdjęcia</button>
    <button type="button" class="btn btn-danger" (click)="modal.close()">Anuluj</button>
  </div>
</ng-template>


<ng-template #addPhotoForTeam let-modal>
  <div class="modal-header">
    <h4 class="modal-title teams-add-header" id="modal-basic-title">Dodaj zdjęcie swojej drużyny</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col teams-add-file">
      <div ng2FileDrop
           [ngClass]="{'nv-file-over': hasBaseDropzoneOver}"
           (fileOver)="fileOverBase($event)"
           [uploader]="uploader"
           class="card bg-faded p-3 text-center mb-3 my-drop-zone teams-add-file">
        <i class="fa fa-upload fa-3x"></i>
        Upuść zdjęcie tutaj
      </div>
      Lub
      <input type="file" class="teams-add-file" ng2FileSelect [uploader]="uploader"/>
      <button type="button" class="btn teams-add-send-file-btn"
              (click)="uploader.uploadAll()" (click)="modal.close(); reloadPage()">
        <span class="fa fa-upload"></span> Prześlij
      </button>
    </div>
  </div>
</ng-template>
