.event-management-content{
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
}
::ng-deep.nav-tabs {
  border: none !important;
}

.event-management-header {
  color: black;
}

.admin-panel-option-btn {
  margin-right: 0.2rem;
}

.admin-panel-add-event-btn {
  margin-bottom: 1rem;
}
