<div class="event-management-content">
  <div class="tab-panel">
    <br>
    <tabset class="tabset-content">
      <tab heading="Event-Solo management" *ngIf="userEvents">

        <div class="event-table">
          <table style="color:#FFFFFF" class="table">

            <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Event Organiser</th>
                <th scope="col">Game Id</th>
                <th scope="col">Options</th>
              </tr>
            </thead>

            <tr *ngFor="let event of userEvents">
              <td>{{event!.name}}</td>
              <td>{{event!.startDate | date}}</td>
              <td>{{event!.endDate | date}}</td>
              <td>{{event!.eventOrganiser}}</td>
              <td>{{event!.game.gameId}}</td>
              <td>
                <button (click)="setUserEventResult(event)" class="btn btn-warning admin-panel-option-btn">Wpisz wyniki</button>
                <button (click)="openEditEventUserModal(event)" class="btn btn-info admin-panel-option-btn">Edytuj Event</button>
                <button (click)="deleteUserEvent(event.eventUserId)" class="btn btn-danger admin-panel-option-btn">Usuń Event</button>
              </td>
            </tr>

          </table>
        </div>

        <button (click)="open(addUserEvent)" class="btn btn-success admin-panel-add-event-btn">Add Solo Event</button>

      </tab>

      <tab heading="Event-Team management" *ngIf="teamEvents">
        <table style="color:#FFFFFF" class="table">

          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Event Organiser</th>
              <th scope="col">Game Id</th>
              <th scope="col">Options</th>
            </tr>
          </thead>

          <tr *ngFor="let event of teamEvents">
            <td>{{event!.name}}</td>
            <td>{{event!.startDate | date}}</td>
            <td>{{event!.endDate | date}}</td>
            <td>{{event!.eventOrganiser}}</td>
            <td>{{event!.game.gameId}}</td>
            <td>
              <button (click)="setTeamEventResult(event)" class="btn btn-warning admin-panel-option-btn">Wpisz wyniki</button>
              <button (click)="openEditEventTeamModal(event)" class="btn btn-info admin-panel-option-btn">Edytuj Event</button>
              <button (click)="deleteTeamEvent(event.eventTeamId)" class="btn btn-danger admin-panel-option-btn">Usuń Event</button>
            </td>
          </tr>

        </table>

        <button (click)="open(addTeamEvent)" class="btn btn-success admin-panel-add-event-btn">Add Team Event</button>

      </tab>
    </tabset>
  </div>

</div>

<!--UserEvents-->

<ng-template #addUserEvent let-modal>

  <div class="modal-header">
    <h4 class="modal-title event-management-header" id="modal-basic-title">Utwórz nowe wydarzenie dla użytkowników </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]='newUserEventForm' (ngSubmit)="newUserEventForm.valid && newUserEvent()" autocomplete="off"
          id="newUserEventForm">
      <div class="form-group">
        <input
          [class.is-invalid]='newUserEventForm.get("name")?.errors && newUserEventForm.get("name")?.touched'
          type="text"
          class="form-control"
          formControlName="name"
          placeholder="Nazwa wydarzenia">
        <div class="invalid-feedback">Nazwa wydarzenia jest wymagana</div>
      </div>

      <div class="form-group">
        <input
          [class.is-invalid]='newUserEventForm.get("description")?.errors && newUserEventForm.get("description")?.touched'
          type="text"
          class="form-control"
          formControlName="description"
          placeholder="Opis wydarzenia">
        <div class="invalid-feedback">Opis wydarzenia jest wymagana</div>
      </div>

      <div class="form-group">
        <input
          [class.is-invalid]='newUserEventForm.get("startDate")?.errors && newUserEventForm.get("startDate")?.touched'
          type="date"
          class="form-control"
          formControlName="startDate"
          placeholder="Data rozpoczęcia wydarzenia">
        <div class="invalid-feedback">Data rozpoczęcia wydarzenia jest wymagana</div>
      </div>

      <div class="form-group">
        <input
          [class.is-invalid]='newUserEventForm.get("endDate")?.errors && newUserEventForm.get("endDate")?.touched'
          type="date"
          class="form-control"
          formControlName="endDate"
          placeholder="Data zakończenia wydarzenia">
        <div class="invalid-feedback">Data zakończenia wydarzenia jest wymagana</div>
      </div>

      <div class="form-group">
        <input
          [class.is-invalid]='newUserEventForm.get("eventType")?.errors && newUserEventForm.get("eventType")?.touched'
          type="text"
          class="form-control"
          formControlName="eventType"
          placeholder="Typ wydarzenia">
        <div class="invalid-feedback">Typ wydarzenia jest wymagana</div>
      </div>

      <div class="form-group">
        <input
          [class.is-invalid]='newUserEventForm.get("winnerPrize")?.errors && newUserEventForm.get("winnerPrize")?.touched'
          type="number"
          class="form-control"
          formControlName="winnerPrize"
          placeholder="Nagroda za wydarzenie">
        <div class="invalid-feedback">Nagroda za wydarzenie jest wymagana</div>
      </div>

      <div class="form-group">
        <input
          [class.is-invalid]='newUserEventForm.get("eventOrganiser")?.errors && newUserEventForm.get("eventOrganiser")?.touched'
          type="text"
          class="form-control"
          formControlName="eventOrganiser"
          placeholder="Organizator wydarzenia">
        <div class="invalid-feedback">Organizator wydarzenia jest wymagany</div>
      </div>

      <div class="form-group">
        <select
          class="form-control"
          formControlName="gameId">
          <option [ngValue]="game.gameId" *ngFor="let game of games">{{game.title}}</option>
        </select>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-success" form="newUserEventForm"
            [disabled]="!newUserEventForm.valid"
            (click)="modal.close()"
            (click)="open(addPhotoUserEvent)">
      Przejdź do wyboru zdjęcia
    </button>
    <button type="button" class="btn btn-danger" (click)="modal.close()">Anuluj</button>
  </div>
</ng-template>

  <ng-template #addPhotoUserEvent let-modal>
    <div class="modal-header">
      <h4 class="modal-title event-management-header" id="modal-basic-title">Dodaj zdjęcie do swojego wydarzenia </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body event-management-header">
      <div class="col-md-3">

        <h3>Add Photos</h3>

        <div ng2FileDrop
             [ngClass]="{'nv-file-over': hasBaseDropzoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader"
             class="card bg-faded p-3 text-center mb-3 my-drop-zone">
          <i class="fa fa-upload fa-3x"></i>
          Drop photo here
        </div>

        <input type="file" ng2FileSelect [uploader]="uploader"/>
        <button type="button" class="btn btn-success btn-s"
                (click)="uploader.uploadAll()" (click)="modal.close()">
          <span class="fa fa-upload"></span> Upload all
        </button>
      </div>


    </div>
</ng-template>

<!--TeamEvents-->

<ng-template #addTeamEvent let-modal>

  <div class="modal-header event-management-header">
    <h4 class="modal-title" id="modal-basic-title event-management-header">Utwórz nowe wydarzenie drużynowe </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]='newTeamEventForm' (ngSubmit)="newTeamEventForm.valid && newTeamEvent()" autocomplete="off"
          id="newTeamEventForm">
      <div class="form-group">
        <input
          [class.is-invalid]='newTeamEventForm.get("name")?.errors && newTeamEventForm.get("name")?.touched'
          type="text"
          class="form-control"
          formControlName="name"
          placeholder="Nazwa wydarzenia">
        <div class="invalid-feedback">Nazwa wydarzenia jest wymagana</div>
      </div>

      <div class="form-group">
        <input
          [class.is-invalid]='newTeamEventForm.get("description")?.errors && newTeamEventForm.get("description")?.touched'
          type="text"
          class="form-control"
          formControlName="description"
          placeholder="Opis wydarzenia">
        <div class="invalid-feedback">Opis wydarzenia jest wymagana</div>
      </div>

      <div class="form-group">
        <input
          [class.is-invalid]='newTeamEventForm.get("startDate")?.errors && newTeamEventForm.get("startDate")?.touched'
          type="date"
          class="form-control"
          formControlName="startDate"
          placeholder="Data rozpoczęcia wydarzenia">
        <div class="invalid-feedback">Data rozpoczęcia wydarzenia jest wymagana</div>
      </div>

      <div class="form-group">
        <input
          [class.is-invalid]='newTeamEventForm.get("endDate")?.errors && newTeamEventForm.get("endDate")?.touched'
          type="date"
          class="form-control"
          formControlName="endDate"
          placeholder="Data zakończenia wydarzenia">
        <div class="invalid-feedback">Data zakończenia wydarzenia jest wymagana</div>
      </div>

      <div class="form-group">
        <input
          [class.is-invalid]='newTeamEventForm.get("eventType")?.errors && newTeamEventForm.get("eventType")?.touched'
          type="text"
          class="form-control"
          formControlName="eventType"
          placeholder="Typ wydarzenia">
        <div class="invalid-feedback">Typ wydarzenia jest wymagana</div>
      </div>

      <div class="form-group">
        <input
          [class.is-invalid]='newTeamEventForm.get("winnerPrize")?.errors && newTeamEventForm.get("winnerPrize")?.touched'
          type="number"
          class="form-control"
          formControlName="winnerPrize"
          placeholder="Nagroda za wydarzenie">
        <div class="invalid-feedback">Nagroda za wydarzenie jest wymagana</div>
      </div>

      <div class="form-group">
        <input
          [class.is-invalid]='newTeamEventForm.get("eventOrganiser")?.errors && newTeamEventForm.get("eventOrganiser")?.touched'
          type="text"
          class="form-control"
          formControlName="eventOrganiser"
          placeholder="Organizator wydarzenia">
        <div class="invalid-feedback">Organizator wydarzenia jest wymagany</div>
      </div>

      <div class="form-group">
        <select
          class="form-control"
          formControlName="gameId">
          <option [ngValue]="game.gameId" *ngFor="let game of games">{{game.title}}</option>
        </select>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button [disabled]="!newTeamEventForm.valid" type="submit" class="btn btn-success" form="newTeamEventForm"
            (click)="open(addPhotoTeamEvent)" (click)="modal.close">Przejdź do wyboru zdjęcia
    </button>
    <button type="button" class="btn btn-danger" (click)="modal.close()">Anuluj</button>
  </div>
</ng-template>

<ng-template #addPhotoTeamEvent let-modal>
  <div class="modal-header event-management-header">
    <h4 class="modal-title" id="modal-basic-title">Dodaj zdjęcie do swojego wydarzenia </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-md-3">

      <h3>Add Photos</h3>

      <div ng2FileDrop
           [ngClass]="{'nv-file-over': hasBaseDropzoneOver}"
           (fileOver)="fileOverBase($event)"
           [uploader]="uploader"
           class="card bg-faded p-3 text-center mb-3 my-drop-zone">
        <i class="fa fa-upload fa-3x"></i>
        Drop photo here
      </div>

      Single
      <input type="file" ng2FileSelect [uploader]="uploader"/>
    </div>
    <button type="button" class="btn btn-success btn-s"
            (click)="uploader.uploadAll()" (click)="modal.close()">
      <span class="fa fa-upload"></span> Upload all
    </button>
  </div>
</ng-template>
