.event-management-content{
  background-color: black;
  color: white;
}
::ng-deep.nav-tabs {
  border: none !important;
}

.admin-panel-option-btn {
  margin-right: 0.2rem;
}

.admin-panel-add-event-btn {
  margin-bottom: 1rem;
}
