<div class="container thread-list-container">
  <h1 class="section-title">FORUM &nbsp;</h1>

  <div class="thread-row-first d-flex justify-content-end">
  <button mat-raised-button color="primary" class="">Dodaj wątek</button>
  </div>
  <div class="thread-row" *ngFor="let thread of forumThread">
    <div class="row">
      <div class="col thread-thumbnail">
        <a href="/forum/{{thread.forumThreadId}}" class="thread-list-link">
          <img class="img-fluid" src="{{thread.game.photoUrl}}">
        </a>
      </div>

      <div class="col">

        <div class="row d-flex align-items-center">
          <div class="col">
            <h6 class=""><a href="/forum/{{thread.forumThreadId}}" class="thread-list-link">{{thread.title}}</a></h6>
          </div>
        </div>

        <div class="row d-flex align-items-center">
          <div class="col">
            <p><i class="material-icons calendar-icon">calendar_today</i>
              {{thread.threadDate | date}}</p>
          </div>
        </div>

      </div>

      <div class="col d-flex align-items-center">
        {{(thread.forumPosts.length > 4) ? (thread.forumPosts.length)+' postów' : (thread.forumPosts.length > 1) ? (thread.forumPosts.length)+' posty' : (thread.forumPosts.length)+' post'}}
        <i class="material-icons">person_outline</i>{{thread.user.nickname}}
      </div>

    </div>
  </div>

</div>

<!--<div class="col">-->
<!--  <p>{{thread.user.nickname}}</p>-->
<!--</div>-->
