.steam-information-avatar {
  height: 75px;
  border-radius: 25%;
}

.steam-information-row {
  margin-bottom: 1rem;
}

.steam-header {
  font-family: Lato;
  font-weight: 600;
}

.steam-information-profile-url {
  margin-top: 0.5rem;
  color: #eaeaea;
  font-size: 1.2rem;
  text-align: left;
}

.steam-achievement {
  color: gold;
  vertical-align: middle;
  font-size: 1.7rem;
}
