.admin-panel-content{
  background-color: rgba(0, 0, 0, 0.85);
  padding-top: 0.5rem;
  color: white;
  height: 105%;
}

::ng-deep.tab-container .nav-link {
  color: white !important;
}

::ng-deep.nav-link.active {
  color: white !important;
  background-color: #454d55 !important;
}

::ng-deep.nav-link {
  border-top-left-radius: 0.1rem !important;
  border-top-right-radius: 0.1rem !important;
}

::ng-deep.nav-tabs {
  border: none !important;
}
