.redirect-event-button {
  color: #242427;
  background: #F29F05;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
}

.btn-close:hover {
  background-color: #c90007;
  color: white;
}
