<div class="banner-container">
    <div class="line">
      <div class="left">
        <div class="content">
          <span class="spanSlow">ORGANIZER</span>
        </div>
      </div><!--
        --><div class="right">
      <div class="content">
        <span class="spanSlow">ORGANIZER</span>
      </div>
    </div>
    </div>
    <div class="line">
      <div class="left">
        <div class="content">
          <span class="spanSlow">GRACZA</span>
        </div>
      </div>
      <div class="right">
        <div class="content">
          <span class="spanSlow">GRACZA</span>
        </div>
      </div>
    </div>
</div>
<div class="banner-phrase">
  PLAY GAMES, WATCH GAMES, WIN GAMES
</div>
