<div class="banner-container">
    <div class="line">
      <div class="left">
        <div class="content">
          <span class="spanSlow">ORGANIZER</span>
        </div>
      </div><!--
        --><div class="right">
      <div class="content">
        <span class="spanSlow">ORGANIZER</span>
      </div>
    </div>
    </div>
    <div class="line">
      <div class="left">
        <div class="content">
          <span class="spanSlow">GRACZA</span>
        </div>
      </div>
      <div class="right">
        <div class="content">
          <span class="spanSlow">GRACZA</span>
        </div>
      </div>
    </div>
</div>
<div class="banner-phrase">
  <app-login *ngIf="!user" class="justify-content-center banner-login"></app-login>
  <p class="text-phrase">PLAY GAMES, WATCH GAMES, WIN GAMES</p>
</div>
