<div class="events-list-banner">
  <h1 class="ml4">
    <span class="letters letters-1">Ready</span>
    <span class="letters letters-2">Set</span>
    <span class="letters letters-3">Go!</span>
  </h1>
</div>
<div class="events-list-content">
  <div class="tab-panel">
    <tabset class="tabset-content">
      <tab heading="Wydarzenia indywidualne">
        <app-events-solo-list></app-events-solo-list>
      </tab>

      <tab heading="Wydarzenia drużynowe">
        <app-events-team-list></app-events-team-list>
      </tab>
    </tabset>

  </div>
</div>
